*{
	padding:0px;
	margin: 0px;
	color: #576871;
}

body, html{
	background-color: #f3f7f7;
}

.display-table{
	display: table;
	width:100%;
	padding:0px;
	height:100%;
}
.display-table-row{
	display: table-row;
	height:100%;
}
.display-table-cell{
	display: table-cell;
	float:none;
	height:100%;
}

.sidebar{
	background-color: #37474f;
	text-align: center;
}

.attempted .collapsible .collapsible-body{
	background: #FFF!important;
	color:teal;
}

.attempted .collapsible .collapsible-header{
	color:teal!important;
}


.sidebar .attempted{
	margin-top: 50px;
	line-height: 30px;
}

.sidebar .attempted .q{
	color: #e7eeef;
	font-size: 16px;
}

.sidebar .attempted .q span{
	background-color: #ff7043;
	color:#fff;
	padding:2px 7px;
	margin-left: 10px;
}

.sidebar button{
	width: 100%;
	margin-top: 10px;
}

.sidebar a{
	width: 100%;
	margin-top: 50px;
	display: block;
}

.sidebar .timer{
	background-color: #e0f2f1;
	width: 80%;
	height: 160px;
	margin: 0 auto;
	text-align: center;
	padding: 15px 0;
	position: relative;
	margin-top: 40px;
}

.timer .time{
	position: absolute;
	width: 120%;
	bottom: 7%;
	left:-10%;
	background-color: #fff;
	height: 80px;
	line-height: 70px;
}

.timer .small{
	font-size: 12px;
	letter-spacing: 1px;
	color: #00897b;
}

.timer .big{
	font-size: 17px;
	letter-spacing: 3px;
	color: #00897b;
	font-weight: bold;
}

.time .min, .sec, .hour{
	color: #212121;
	font-size: 25px;
	padding: 0 10px;
	position: relative;
}

.time .hour:after, .sec:after, .min:after{
	position: absolute;
	font-size: 10px;
	font-weight: bold;
	color: #919191;
	letter-spacing: 0.5px;
	top:0;
	
}

.time .hour:after{
	content: "HOUR";
	left: 17%;
}

.time .min:after{
	content: "MINS";
	left: 22%;
}

.time .sec:after{
	content: "SECS";
	left: 22%;
}



.time .colon{
	color: #212121;
	font-size: 20px;
}

div.col.s10{
	padding:0px;
}

.header{
	background: #00897b;
	height: 80px;
	line-height: 80px;
	padding:0 30px;
}

.header .brand-name{
	display:inline-block;
	font-weight: bold;
	font-size: 25px;
	color: #fff;
}

.header span{
	float:right;
	color: #fff;
	font-weight: bold;
}

.nav-wrapper a{
	color: #0e141e;
}

.questions-wrap{
	width:95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px; 
	line-height: 40px;
}

.normal-text{
	margin: 10px 0;
}

.questions-wrap h5{
	color: #0e141e;
	padding: 0;
	margin: 0px;
	margin-bottom:20px;
	font-weight: bold;

}

.question{
	min-height:300px;
	width:100%;
	background-color: #fff;
	padding: 30px!important;
	line-height: 30px;
}

.bold-text{
	color: #0e141e;
	font-weight: bold;
	margin: 10px 0;
}

.background-text{
	background: #e7eeef;
	padding: 15px;
}

.tabs{
	background-color: #f3f7f7;
}

.tabs .tab a{
    color:#576871;
    background-color: #f3f7f7;
} /*Black color to the text*/


.tabs .tab a:hover {
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#fff;
    color:#000;
} /*Background and text color when a tab is active*/

.tabs .tab a:focus,.tabs .tab a:focus.active{
    background-color:#fff!important;
    outline:none
}

.tabs .indicator {
    background-color:#4db6ac;
}

.collapsible-header:focus{
	outline:none!important;
}

.wrap{
	width:95%;
	margin-left: auto;
	margin-right: auto;
}

textarea{
	font-size: 14px;
}

.CodeMirror{
	height: 400px;
}

.code-header{
	height:60px;
	background: #f3f7f7;
	border-bottom: 1px solid #b7b9cc;
	position: relative;
	line-height: 60px;
	margin-top: 30px;
}

.code-header span{
	color: #0e141e;
	font-weight: bold;
	margin-left: 20px;
}

.code-header form{
	display: inline-block;
}

.lang{
	width:190px;
	position:absolute;
	right: 30px;
	top: -5px;
}

.run-code{
	color:#0e141e;
	font-weight: bold;
}

.icon-white{
	color: #fff;
}

.checkbox{
	display: inline-block;
	margin-top: 20px;
	margin-left: 30px;
}

.actions{
	float: right;
	margin-right: 30px;
	margin-top: 15px;
}

.actions .run-code{
	margin-right: 10px;
}

.custom-input-wrap #custom-input{
	margin-left: 30px;
	height: 100px;
	width:350px;
	background: #e7eeef;
	outline-color: #576871;
	border:none;
	border-radius: 3px;
}

#ciw{
	display: none;
}

