body{
	background: #4e505f;/*linear-gradient(to top, #13547a, #1e7292, #3891a6, #59b1b7, #80d0c7);*/
}

ul.browser-default {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}
ul.browser-default li {
  list-style-type: initial;
}
.contain{
	width: 55%;
	margin: 0 auto;
}

.contain h3{
	margin-top: 8%;
	margin-left: 2%;
	margin-right: 2%;
	color:#fff;
	padding-bottom: 30px;
	border-bottom: 1px solid #eeeeee;
	letter-spacing: 1px;
	font-weight: 50;
}

.collapsible{
	margin-top: 5%;
}

.collapsible .collapsible-body{
	background-color: #fff;
}

.collapsible .collapsible-header{
	color:teal;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
}

.collapsible .collapsible-header:focus{
	outline: none;
}

.contain a{
	display: block;
	width: 30%;
	height: 45px;
	line-height: 45px;
	margin: 4% auto;
	text-align: center;
}