<head>
	<title>Code Judge</title>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	{% load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'plugin/codemirror/lib/codemirror.css' %}">
	<link rel="stylesheet" href="{% static 'plugin/codemirror/addon/hint/show-hint.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/selectric.css' %}">
	<link rel="icon" type="image/jpg" href="{% static 'assets/icon.png' %}" />

</head>
<body onload="timer()">	

	<div id="success-modal">
		<div class="modalcontent">
			<div class="icon"><span class="fa fa-check teal lighten-1"></span></div>
			<h4 class="snap">Awesome!</h4>
			<p class="msg">You have successfully completed the prelims of Generic name.</p>
			<form method="POST" action="/logout/leaderboard/">
				{% csrf_token %}
				<button id="button" class="waves-effect btn close teal lighten-1">Logout and check the leaderboard</button>
			</form>
		</div>
	</div>

	<div class="container-fluid display-table">
		<div class="row display-table-row">
			<div class="col s2 sidebar display-table-cell">
				<center><h4 class="team-name" id="team_name">{{user.username}}</h4></center>
				<div class="timer">
					<p class="small">TIME</p> <p class="big">REMAINING</p>
					<div class="time z-depth-2">
						<span class="hour" id="hour">01</span>
						<span class="colon">:</span>
						<span class="min" id="min">49</span>
						<span class="colon">:</span>
						<span class="sec" id="sec">33</span>
					</div>
				</div>
				<span id="span">{{time}}</span>
				<div class="attempted">
					<!--<div class="q1 q">Question 1: <span>Not Attempted</span></div>
					<div class="q2 q">Question 2: <span>Not Attempted</span></div>
					<div class="q3 q">Question 3: <span>Not Attempted</span></div>
					<div class="q4 q">Question 4: <span>Not Attempted</span></div>
					<div class="q5 q">Question 5: <span>Not Attempted</span></div>-->

					<ul class="collapsible">
					    <li>
					        <div class="collapsible-header">Question 1</div>
					        <div class="collapsible-body"><span>Not attempted yet.</span></div>
					    </li>
					    <li>
					        <div class="collapsible-header">Question 2</div>
					        <div class="collapsible-body"><span>Not attempted yet.</span></div>
					    </li>
					    <li>
					        <div class="collapsible-header">Question 3</div>
					        <div class="collapsible-body"><span>Not attempted yet.</span></div>
					    </li>
					    <li>
					        <div class="collapsible-header">Question 4</div>
					        <div class="collapsible-body"><span>Not attempted yet.</span></div>
					    </li>
					    <li>
					        <div class="collapsible-header">Question 5</div>
					        <div class="collapsible-body"><span>Not attempted yet.</span></div>
					    </li>
					</ul>

				</div>
				<a href="/leaderboard/" class="btn waves-effect waves-light" class="leaderboard">Leaderboard<i class="material-icons right icon-white">assessment</i></a>
				<form method="POST" action="/logout/">
					{% csrf_token %}
					<button class="btn waves-effect waves-light amber darken-2" id="logout" type="submit" name="action">LOGOUT<i class="material-icons right icon-white">power_settings_new</i></button>
				</form>
				<form method="POST" action="/give_up/">
					{% csrf_token %}
					<button class="btn waves-effect waves-light red lighten-1" id="logout" type="submit" name="action">Give Up<i class="material-icons right icon-white">thumb_down</i></button>
				</form>
				

			</div>
			<div class="col s10">
				<div class="header z-depth-1">
					<p class="brand-name">Generic Name</p>
					<span>Organised By: Cultural Comittee, Department of CA</span>
				</div>
				<div class="questions-wrap">
					<ul id="tabs-swipe-demo" class="tabs">
					    <li class="tab col s2"><a class="active" href="#test-swipe-1" id="q1">Question 1</a></li>
					    <li class="tab col s2"><a href="#test-swipe-2" id="q2">Question 2</a></li>
					    <li class="tab col s2"><a href="#test-swipe-3" id="q3">Question 3</a></li>
					    <li class="tab col s2"><a href="#test-swipe-4" id="q4">Question 4</a></li>
					    <li class="tab col s2"><a href="#test-swipe-5" id="q5">Question 5</a></li>
					</ul>

					{% for q in questions %}
						<div id="test-swipe-{{ forloop.counter }}" class="col s12 question z-depth-2">
							<span id="qid{{ forloop.counter }}" style="display:none;">{{ q.id }}</span>
							{{ q.statement | safe }}

						</div>

					{% endfor %}

				</div>


				<div class="clearfix"></div>
				<form action="" method="POST" id="codeform">
					{% csrf_token %}
					<input type="hidden" name="qid" id="hqid">
					<div class="wrap z-depth-2">		
						<div class="code-header">
							<span>Write Your Code Here</span>
							
							<div class="input-field lang">
							    <select onchange="changeMode()" id="mode" name="mode">
								    <option value="text/x-csrc">C / C++</option>
								    <option value="text/x-java">Java 8</option>
								    <option value="text/x-python">Python 3</option>
							    </select>
							</div>				    
						</div>	
					 	<textarea class="codemirror-textarea code" rows="10" id="code" name="code">
import math as m

def prime(n):
	if a%2==0 or a%3==0:
		return("Not Prime")
	for i in range(5,int(m.sqrt(n))):
		if(a%i==0):
			return("Not Prime")
	return("Prime")

a=int(input())
print(prime(a))
#160479503</textarea>		 	
					</div>
					<p class="checkbox">
					    <label>
					        <input type="checkbox" class="filled-in" id="ci" name="ci" />
					        <span>Run Against Custom Input</span>
					    </label>
					</p>	
					<div class="actions">
						
						<button class="run-code btn blue-grey lighten-5 submitbutton" type="submit" name="run" id="run">{ }  Run Code</button>
						<button class="btn waves-effect waves-light submitbutton" type="submit" name="submit" id="submit">Submit Code<i class="material-icons right icon-white">send</i></button>
					</div>
					<div class="custom-input-wrap" id="ciw" >
						<textarea name="ciw" id="custom-input"></textarea>
					</div>
				</form>
				<div id="load">
					<div class="loader">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<h5 id="load-text"><br><br><br>A moment please!</h5>
				</div>
				
				<div class="output" id="output" style="display: none;">
					<div id="err" style="display: none;">
						<p class="err">Compilation Error :( <br></p>
						<p class="tag">Check the compiler output, fix the error and try again.</p>
					</div>

					<div id="succ" style="display: none;">
						<p class="succ">Compilation Successful :) <br></p>
						<p class="tag">Click the Submit Code button to run your code against all the test cases.</p>
					</div>
					<div class="op_box z-depth-2" id="op"></div>
				</div>
				<br><br><br><br><br><br>
			</div>


		</div>

	</div>





	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	 

	 {% load static%}
	 <link rel="stylesheet" type="text/css" href="">
	 <script type="text/javascript" src="{% static 'plugin/codemirror/lib/codemirror.js' %}"></script>
	 <script type="text/javascript" src="{% static 'plugin/codemirror/mode/clike/clike.js' %}"></script>
	 <script type="text/javascript" src="{% static 'plugin/codemirror/mode/python/python.js' %}"></script>
	 <script type="text/javascript" src="{% static 'plugin/codemirror/addon/hint/show-hint.js' %}"></script>
	 <script type="text/javascript" src="{% static 'plugin/codemirror/addon/hint/anyword-hint.js' %}"></script>
	 <script type="text/javascript" src="{% static 'plugin/codemirror/addon/edit/matchbrackets.js' %}"></script>
	 <script type="text/javascript" src="{% static 'plugin/codemirror/addon/edit/closebrackets.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/selectric.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/default.js' %}"></script>

	 <script>
		$(function() {
		  $('select').selectric();
		});
	 </script>
	 <script type="text/javascript">
	 	$(document).ready(function(){
            $('.tabs').tabs();
        });
	 </script>
	 <script type="text/javascript">
	 	$('#ci').change(function() {
		    $("#ciw").slideToggle();   
		});
	 </script>
	<script type="text/javascript">

		var duration = 2 * 60 * 60;
	
		var d = new Date();

		name = document.getElementById("team_name").innerHTML;
		time = document.getElementById("span").innerHTML;
		//localStorage.removeItem(name);

		if(localStorage.getItem(name) === null){
			/*if(time === null)
				localStorage.setItem(name,d.getTime());
			else*/
				localStorage.setItem(name,time);
		}


		var start = localStorage.getItem(name);	
		console.log(start);

		function timer()
		{ 
			var timeLeft = duration - (((Date.now() - start) / 1000) | 0);
			var hour = Math.floor(timeLeft / 3600);
	    	var min = Math.floor(timeLeft % 3600 / 60);
	    	var sec = Math.floor(timeLeft % 3600 % 60);
			if(timeLeft<=0){
				clearTimeout(tm);
				document.getElementById("success-modal").style.display = "block";
			}
			else{
				document.getElementById("hour").innerHTML = "0"+hour;
				document.getElementById("min").innerHTML = min<10?"0"+min:min;
				document.getElementById("sec").innerHTML = sec<10?"0"+sec:sec;				
			}
			//timeLeft--;
			var tm = setTimeout(function(){ timer() }, 1000);
		}
	</script>
	<script type="text/javascript">
		$("#logout").click(function(){
		    console.log("Logout");
		});
		
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
		    $('.collapsible').collapsible();
		});
	</script>

</body>






















