<head>
	<title>Leaderboard</title>

	<meta http-equiv="refresh" content="30"/>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	{% load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/leaderboard.css' %}">
	<link rel="icon" type="image/jpg" href="{% static 'assets/icon.png' %}" />

</head>
<body onload="timer()">
	<div class="container-fluid">
		<div class="row">
			<div class="col s12">
				<div class="icon">
					<img class="wing wing1" src="{% static 'assets/wing.png' %}">
					<img class="mid" src="{% static 'assets/trophy.png' %}">
					<img class="wing wing2" src="{% static 'assets/wing.png' %}">

					<div class="lefty">
						<div class="first">
							<span></span>
							<span></span>
							<span></span>
						</div>
						
						<img src="{% static 'assets/trophy.png' %}">
						
						<div class="second">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="righty">
						<div class="first">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<div class="second">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<img src="{% static 'assets/trophy.png' %}">
					</div>
				</div>

				<p id="time">Leaderboard will refresh in </p>
				
				<div class="lead-wrap">

					{% for l in leaders %}

						<div class="lead ">
							<span class="rank" {% if forloop.counter == 1 %} style="background-color: #ffbf00;" {% elif forloop.counter == 2 %} style="background-color: #90a4ae;" {% elif forloop.counter == 3 %} style="background-color: #f57c00;" {% else %} style="background-color: #00bcd4;" {% endif %} >{{ forloop.counter }}</span>
							<table class="none">
								<tbody>
								<tr>
									<td class="team">{{l.user}}</td>
									<td class="questions">
										<span class="sss">
											<small>Question 1</small>
											<strong>{% if l.question1 %}{{ l.question1 }} {% else %} N/A {% endif %}</strong>
										</span>
									</td>
									<td class="questions">
										<span class="sss">
											<small>Question 2</small>
											<strong>{% if l.question2 %}{{ l.question2 }} {% else %} N/A {% endif %}</strong>
										</span>
									</td>
									<td class="questions">
										<span class="sss">
											<small>Question 3</small>
											<strong>{% if l.question3 %}{{ l.question3 }} {% else %} N/A {% endif %}</strong>
										</span>
									</td>
									<td class="questions">
										<span class="sss">
											<small>Question 4</small>
											<strong>{% if l.question4 %}{{ l.question4 }} {% else %} N/A {% endif %}</strong>
										</span>
									</td>
									<td class="questions">
										<span class="sss">
											<small>Question 5</small>
											<strong>{% if l.question5 %}{{ l.question5 }} {% else %} N/A {% endif %}</strong>
										</span>
									</td>
									<td class="questions">
										<span class="sss">
											<small>Penalty</small>
											<span class="penalty">{% if l.penalty == 0 %} None {% else %} {% if l.penalty < 10 %} 0{{l.penalty}}:00 mins {%else%} {{ l.penalty }}:00 mins {% endif %} {% endif %}</span>
										</span>
									</td>
									<td class="questions extra">
										<span class="marks sss">
											<small>Total Marks</small>
											<strong>{{ l.marks }}</strong>
										</span>
									</td>
									<td class="questions extra">
										<span class="time sss">
											<small>Total Time</small>
											<strong>{{ l.time }}</strong>
										</span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>

					{% endfor %}




					
					<!--<div class="lead">
						<span class="rank" style="background-color: #90a4ae;">2</span>
						<table class="none">
							<tbody>
							<tr>
								<td class="team">nateranamera</td>
								<td class="questions">
									<span class="sss">
										<small>Question 1</small>
										<strong>01:55:06<span class="penalty">+10:00</span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 2</small>
										<strong>01:55:06<span class="penalty">+60:00</span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 3</small>
										<strong>01:05:06<span class="penalty">+60:00</span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 4</small>
										<strong>01:25:06<span class="penalty">+60:00</span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 5</small>
										<strong>01:55:06<span class="penalty">+60:00</span></strong>
									</span>
								</td>
								<td class="questions extra">
									<span class="marks sss">
										<small>Total Marks</small>
										<strong>100</strong>
									</span>
								</td>
								<td class="questions extra">
									<span class="time sss">
										<small>Total Time Taken</small>
										<strong>02:21:06</strong>
									</span>
								</td>
							</tr>
							</tbody>
						</table>

					</div>
					<div class="lead">
						<span class="rank" style="background-color: #f57c00;">3</span>
						<table class="none">
							<tbody>
							<tr>
								<td class="team">foreversingle</td>
								<td class="questions">
									<span class="sss">
										<small>Question 1</small>
										<strong>01:55:06<span class="penalty">+10:00</span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 2</small>
										<strong>01:55:06<span class="penalty">+60:00</span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 3</small>
										<strong>01:05:06<span class="penalty">+60:00</span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 4</small>
										<strong><span class="penalty">N/A</span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 5</small>
										<strong>01:55:06<span class="penalty">+60:00</span></strong>
									</span>
								</td>
								<td class="questions extra">
									<span class="marks sss">
										<small>Total Marks</small>
										<strong>80</strong>
									</span>
								</td>
								<td class="questions extra">
									<span class="time sss">
										<small>Total Time Taken</small>
										<strong>01:30:06</strong>
									</span>
								</td>
							</tr>
							</tbody>
						</table>


					</div>

					<div class="lead">
						<span class="rank">4</span>
						<table class="none">
							<tbody>
							<tr>
								<td class="team">link_list_not_aadhar</td>
								<td class="questions">
									<span class="sss">
										<small>Question 1</small>
										<strong>05:06<span class="penalty"></span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 2</small>
										<strong>55:06<span class="penalty"></span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 3</small>
										<strong>01:05:06<span class="penalty">+5:00</span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 4</small>
										<strong>01:25:06<span class="penalty">+10:00</span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 5</small>
										<strong><span class="penalty">N/A</span></strong>
									</span>
								</td>
								<td class="questions extra">
									<span class="marks sss">
										<small>Total Marks</small>
										<strong>80</strong>
									</span>
								</td>
								<td class="questions extra">
									<span class="time sss">
										<small>Total Time Taken</small>
										<strong>01:40:06</strong>
									</span>
								</td>
							</tr>
							</tbody>
						</table>


					</div>

					<div class="lead">
						<span class="rank">5</span>
						<table class="none">
							<tbody>
							<tr>
								<td class="team">North_Wind</td>
								<td class="questions">
									<span class="sss">
										<small>Question 1</small>
										<strong>15:06<span class="penalty">+10:00</span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 2</small>
										<strong>45:06<span class="penalty"></span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 3</small>
										<strong>01:05:06<span class="penalty"></span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 4</small>
										<strong><span class="penalty">N/A</span></strong>
									</span>
								</td>
								<td class="questions">
									<span class="sss">
										<small>Question 5</small>
										<strong><span class="penalty">N/A</span></strong>
									</span>
								</td>
								<td class="questions extra">
									<span class="marks sss">
										<small>Total Marks</small>
										<strong>60</strong>
									</span>
								</td>
								<td class="questions extra">
									<span class="time sss">
										<small>Total Time Taken</small>
										<strong>01:15:06</strong>
									</span>
								</td>
							</tr>
							</tbody>
						</table>


					</div>-->


					
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

	<script type="text/javascript">
		var timeLeft = 30;	

		function timer()
		{ 
	    	var sec = timeLeft;
			if(timeLeft<=0){
				clearTimeout(tm);
			}
			else{
				document.getElementById("time").innerHTML = timeLeft<10?"Leaderboard will refresh in 0"+timeLeft+" seconds...":"Leaderboard will refresh in "+timeLeft+" seconds...";
			}
			timeLeft--;
			var tm = setTimeout(function(){ timer() }, 1000);
		}
	</script>
</body>