<html>
<head>	
	<title>Code Judge</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	{% load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/rules.css' %}">
	<link rel="icon" type="image/jpg" href="{% static 'assets/icon.png' %}" />
</head>
<body>
	<div id="success-modal">
		<div class="modalcontent z-depth-4">
			<div class="modalheader z-depth-1">Rules and Regulations</div>
			<div class="modalbody">
				<ol>
					<li>Compliance with fiscal, academic, research, human relations, or other management standards and requirements imposed by federal or state laws or implementing regulations;</li>
					<li>Procedures and reporting requirements related to implementation or compliance with policies of the Board of Governors or Board of Trustees, or regulations of the Office of the President;</li>
					<li>Matters not specifically addressed in Board of Governors or Board of Trustees policies or regulations of the Office of the President that are within the general nature of the chancellor’s delegated responsibilities to administer the institution.</li>
					<li>The following terminology is used to define and indicate the source of authority for the issuance of various policies, regulations and rules (PRRs) by which the institution governs itself.</li>
					<li>A “policy” is any standard, statement, or procedure of general applicability adopted by the Board of Trustees pursuant to authority delegated by law or the Board of Governors.</li>
					<li>The following terminology is used to define and indicate the source of authority for the issuance of various policies, regulations and rules (PRRs) by which the institution governs itself.</li>
					<li>A “policy” is any standard, statement, or procedure of general applicability adopted by the Board of Trustees pursuant to authority delegated by law or the Board of Governors.</li>
				</ol>
			</div>
			<div class="modalfooter">
				<a href="/contest/begin/" class="btn">Agree and Begin</a>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</body>
</html>